.Search {
	display: flex;
	align-items: center;
  	flex-direction: column;
  	background: linear-gradient(#56CCF2, #2F80ED);
  	height: 100vH;
  	justify-content: center;
}

#originalTitleView {
	color: white;
	font-size: 75px;
	font-family: 'Acme', sans-serif;
	margin: 20px 0;
}

#minimizedTitleView {
	color: white;
	font-size: 30px;
	font-family: 'Acme', sans-serif;
	margin-top: 0;
	margin-bottom: 10px;
}

#originalInputView {
	width: 60%;
	height: 40px;
	border-radius: 30px;
	padding-left: 30px;
	font-size: 25px;
	user-select: none;
	font-family: 'Acme', sans-serif;
}

#minimizedInputView {
	width: 30%;
	height: 30px;
	border-radius: 30px;
	padding-left: 15px;
	padding-top: 5px;
	font-size: 15px;
	user-select: none;
	font-family: 'Acme', sans-serif;
}

#originalInputView:focus, #minimizedInputView:focus {
	outline: none;
}

#gender-input {
	height: 30px;
	font-family: 'Acme', sans-serif;
	font-size: 20px;
	width: 150px;
	margin-right: 30px;
	background-color: white;
    border-left: 1px solid #0ebeff;
    -webkit-appearance: menulist;
}

#age-input { 
	height: 26px;
	font-family: 'Acme', sans-serif;
	font-size: 20px;
	width: 130px;
	padding-left: 20px;
	border-radius: 5px;
}

#originalGenderAgeView {
	display: flex;
	align-items: center;
  	flex-direction: row;
  	justify-content: center;
  	width: 60%;
  	margin-bottom: 15px;
}

#minimizedGenderAgeView {
	display: none;
}

#originalSearchButtonView {
	border: none;
	padding: 5px 75px;
	border-radius: 5px;
	font-size: 22px;
	font-family: 'Acme', sans-serif;
	color: white;
	background-color: #4CAF50;
	font-weight: bold;
}

#minimizedSearchButtonView {
	border: none;
	padding: 7px 40px;
	border-radius: 5px;
	font-size: 14px;
	font-family: 'Acme', sans-serif;
	color: white;
	background-color: #4CAF50;
	font-weight: bold;
}

#originalSearchButtonView:hover, #minimizedSearchButtonView:hover {
	cursor: pointer;
	background-color: white;
	color: #4CAF50;
}

@media (min-width: 450px) and (max-width: 600px) {
	#originalTitleView {
		font-size: 60px;
	}

	#originalInputView {
		width: 60%;
		height: 40px;
		border-radius: 30px;
		padding-left: 30px;
		font-size: 25px;
		user-select: none;
		font-family: 'Acme', sans-serif;
	}
}

@media (max-width: 449px) {
	#originalTitleView {
		color: white;
		font-size: 40px;
		font-family: 'Acme', sans-serif;
		margin: 20px 0;
	}

	#originalInputView {
		width: 70%;
		height: 30px;
		border-radius: 30px;
		padding-left: 30px;
		font-size: 25px;
		user-select: none;
		font-family: 'Acme', sans-serif;
	}
}

/* Symptoms Section */

#showingSymptoms {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	flex-direction: column;
	border: 1px solid white;
	border-radius: 5px;
	align-self: center;
	padding: 20px 30px 30px 30px;
	margin-bottom: 10px;
}

.checkbox {
	margin-right: 20px;
}

#apply-title {
	font-size: 20px;
}

.symptom {
	margin-bottom: 10px;
}

ul {
	list-style: none;
	margin-bottom: 20px;
}

#submit-button {
	margin-top: 10px;
	border: none;
	padding: 5px 75px;
	border-radius: 5px;
	font-size: 22px;
	font-family: 'Acme', sans-serif;
	color: white;
	background-color: #66AFFF;
	font-weight: bold;
}

#submit-button:hover {
	cursor: pointer;
	background-color: #ededed;
	color: #66AFFF;
}

#emptySymptoms {
	display: none;
}

/* Diagnosis Section */

#emptyDiagnosis {
	display: none;
}

#showingDiagnosis {
	display: flex;
  	height: 100vH;
  	flex-direction: column;
}

/*#research-input {
	align-items: flex-start;
	justify-content: flex-start;
	width: 175px;
	height: 25px;
	border-radius: 30px;
	padding-top: 2px;
	padding-left: 15px;
	font-size: 17px;
	user-select: none;
	font-family: 'Acme', sans-serif;
	margin-top: 10px;
	margin-left: 10px;
}*/

#diagnosis-title {
	color: white;
	font-size: 50px;
	font-family: 'Acme', sans-serif;
	margin: 20px 0;
	align-self: center;
}

#diagnosis {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	flex-direction: column;
	border: 1px solid white;
	border-radius: 5px;
	align-self: center;
	padding: 20px 30px 30px 30px;
	margin-bottom: 40px;
}

#calculated-title {
	font-size: 20px;
}

.diagnosis-list {
	margin-bottom: 10px;
}

.dropdown input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.diagnosis-item {
	font-size: 17px;
	margin: 10px 0;
	line-height: 1.5;
}

.dropdown {
	position: relative;
	width: 88%;
	overflow: hidden;
	margin-top: 10px;
}

.dropdown .more-diagnosis {
	max-height: 0;
	overflow: hidden;
  	background: #f5f5f5;
  	-webkit-transition: all .2s ease-in;
  	-o-transition: all .2s ease-in;
  	transition: all .2s ease-in;
  	border-radius: 5px;
}

.dropdown input:checked ~ .more-diagnosis {
	max-height: 100px;
	padding: 10px 0 20px 0;
	overflow-y: auto;
	border: 1px solid #878787;
}

.dropdown input[type=checkbox] + label::after {
	content: "+";
}

.dropdown label::after {
	position: absolute;
  	right: 0;
  	top: 0;
  	display: block;
  	width: 3em;
  	line-height: 2.4;
  	text-align: center;
  	-webkit-transition: all .2s;
  	-o-transition: all .2s;
  	transition: all .2s;
}

.dropdown input[type=checkbox]:checked + label::after {
	transform: rotate(315deg);
}

.dropdown .more-diagnosis-list {
	width: 86%;
}

.dropdown label {
	position: relative;
  	display: block;
  	color: white;
  	font-weight: bold;
  	background: #878787;
  	text-align: center;
  	padding: 12px 0px;
  	cursor: pointer;
  	border-radius: 5px;
  	font-size: 18px;
}

.dropdown li {
	font-size: 1.1em;
}

.disclaimer {
	align-self: center;
	text-align: center;
	margin: 10px 40px 0px 40px;
	margin-top: 15px;
	font-size: 10px
}

.disclaimer .title {
	font-size: 13px;
}